<header class="header">
    <!-- <div class="burger__container" [ngClass]="open ? 'open__menu' : ''" (click)="openMenu()">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="down"></span>
    </div> -->
    <div>
        <a  routerLink="/auth/login" href="/auth/login" class="header__btn">Login</a>
        <a  routerLink="/auth/signup" href="/auth/signup" class="header__btn">Signup</a>
        <a routerLink="/home" href="/home" class="header__btn">Home</a>
        <!-- <a routerLink="/auth/login" href="/auth/login" *ngIf="user_login" class="header__btn">Return</a> -->
    </div>
</header>
