<app-header></app-header>
<div class="auth">
    <div class="container__form-center">
        <div class="form_auth container__form-shadow container__form-border">
            <form [formGroup]="formLogin" (submit)="submit()">
                <h1>Login</h1>
                <div class="auth__container--form">
                    <input type="text" formControlName="login" placeholder="Login" 
                    [ngClass]="formLogin.get('login')?.invalid && formLogin.get('login')?.touched ? 'error__border' : ''" id="login">
                    <label for="login">Login</label>
                </div>
                <div class="auth__container--form">
                    <input type="password" formControlName="password" placeholder="Password" 
                    [ngClass]="formLogin.get('password')?.invalid && formLogin.get('password')?.touched ? 'error__border' : ''" id="password">
                    <label for="password">Password</label>
                </div>
                <div class="auth__container--form">
                    <button [disabled]="formLogin.invalid" class="btn btn-success" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>